* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto;
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto/Roboto-Medium.ttf);
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.col-3 {
    width: calc(100%/12*3);
    height: 180px;
}

.col-8 {
    width: calc(100%/12*8);
}


.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background-color: #F5F5F6;
    letter-spacing: 6%;
    line-height: 12.89px;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 60px;
}
.nav-menu-mobile{
    display:none;
}
.menu-icon{
    display: none;
}

ul {
    display: flex;
    border-radius: 8px;
    background-color: none;
    height: 45px;
    text-align: center;
    line-height: 45px;
    position: relative;
}

ul li {
    list-style: none;
    position: relative;
    z-index: 1;
}

li:nth-child(1) {
    width: 90px;
}

li:nth-child(2) {
    width: 100px;
}

li:nth-child(3) {
    width: 140px;
}

li:nth-child(4) {
    width: 140px;
}

li:nth-child(5) {
    width: 110px;
}

li:nth-child(6) {
    width: 150px;
}

li:nth-child(7) {
    width: 150px;
}

.animation {
    width: 90px;
    height: 45px;
    background-color: rgb(58, 255, 255);
    border-radius: 8px;
    transition: all .5s ease 0s;
}

#start-home {
    position: absolute;
    left: 0px;
    bottom: 0;
}

li:nth-child(1):hover~#start-home {
    left: 0px;
    width: 90px;
}


li:nth-child(2):hover~#start-home {
    left: 90px;
    width: 100px;
}


li:nth-child(3):hover~#start-home {
    left: 190px;
    width: 140px;
}


li:nth-child(4):hover~#start-home {
    left: 330px;
    width: 140px;

}

li:nth-child(5):hover~#start-home {
    left: 470px;
    width: 110px;

}


li:nth-child(6):hover~#start-home {
    left: 580px;
    width: 150px;

}


li:nth-child(7):hover~#start-home {
    left: 730px;
    width: 150px;


}

.logo {
    width: 90px;
    height: 23px;
}

.sign-in-btn {
    width: 85px;
    height: 45px;
    color: white;
    background-color: #ea4c89;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;

}

ul li a {
    text-decoration-line: none;
    color: black;
}

.convert-show {
    margin-bottom: 35px;
    font-weight: 700;
    line-height: 42.19px;
    font-size: 36px;
    font-style: bold;
    vertical-align: top;
    letter-spacing: 2px;
}

table {
    width: 100%;
    height: 40px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
}

td {
    border-left: 2px solid #E5E5E5;
    text-align: center;

}

td:nth-child(1) {
    border-left: none;
}

caption {
    margin-bottom: 20px;
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #9F9F9F;
}

.show-value {
    width: 100%;
    height: 120px;
    border: 2px solid #E5E5E5;
}

.money-list {
    margin-bottom: 30px;
}

.sell-btn,
.aviable-btn {
    border: none;
    width: 100%;
    height: 100%;
    background-color: Transparent;
    outline: none;
    transition: all .3s ease 0.1s;

}

.aviable-btn:first-child,
.sell-btn:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.aviable-btn:last-child,
.sell-btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


.active_btn {
    background-color: blueviolet;
    color: white;
}

input {
    border: none;
    outline: none;
    width: 100%;
    height: 80px;
    font-size: 40px;
    font-style: bold;
    font-weight: 700;
    line-height: 42px;
    padding: 40px;
    appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.convert-left,
.convert-right {
    font-weight: 400;
    width: 100%;
    color: rgb(109, 109, 109);
    padding: 40px;
    line-height: 14.06px;
    size: 12px;
}


@media screen and (max-width:1200px)
  {
      .menu{
        letter-spacing: 6%;
        line-height: 10px;
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 50px;
        height: 75px;
      }
      ul{
        line-height: 40px;
      }
      li:nth-child(1) {
        width: 75px;
    }
    
    li:nth-child(2) {
        width: 85px;
    }
    
    li:nth-child(3) {
        width: 125px;
    }
    
    li:nth-child(4) {
        width: 125px;
    }
    
    li:nth-child(5) {
        width: 95px;
    }
    
    li:nth-child(6) {
        width: 135px;
    }
    
    li:nth-child(7) {
        width: 135px;
    }
    
    .animation {
        width: 75px;
    }
    
    li:nth-child(1):hover~#start-home {
        left: 0px;
        width: 75px;
    }
    
    
    li:nth-child(2):hover~#start-home {
        left: 75px;
        width: 85px;
    }
    
    
    li:nth-child(3):hover~#start-home {
        left: 160px;
        width: 125px;
    }
    
    
    li:nth-child(4):hover~#start-home {
        left: 285px;
        width: 125px;
    
    }
    
    li:nth-child(5):hover~#start-home {
        left: 410px;
        width: 95px;
    
    }
    
    
    li:nth-child(6):hover~#start-home {
        left: 505px;
        width: 135px;
    
    }
    
    
    li:nth-child(7):hover~#start-home {
        left: 640px;
        width: 135px;
    
    
    }
    
    .logo {
        width: 75px;
        height: 20px;
    }
    .logo img{
        width: 100%;
    }
    
    .sign-in-btn {
        width: 85px;
        height: 40px;
        font-size: 12px;
    
    }
    .convert-show {
        line-height: 40px;
        font-size: 27px;
    }
  }
@media  screen and (max-width:992px) {
    .menu{
        letter-spacing: 6%;
        font-size: 12px;
        height: 60px;
      }
      ul{
          height: 37px;
      }
      .col-3{
          width: calc(100%/12*4);
      }
      .col-8{
          width: calc(100%/12*9);
      }
      li:nth-child(1) {
        width: 65px;
    }
    
    li:nth-child(2) {
        width: 75px;
    }
    
    li:nth-child(3) {
        width: 115px;
    }
    
    li:nth-child(4) {
        width: 115px;
    }
    
    li:nth-child(5) {
        width: 80px;
    }
    
    li:nth-child(6) {
        width: 120px;
    }
    
    li:nth-child(7) {
        width: 120px;
    }
    
    .animation {
        width: 60px;
         line-height: 30px;
        height: 35px;
    }
    
    li:nth-child(1):hover~#start-home {
        left: 0px;
        width: 65px;
    }
    
    
    li:nth-child(2):hover~#start-home {
        left: 65px;
        width: 75px;
    }
    
    
    li:nth-child(3):hover~#start-home {
        left: 140px;
        width: 115px;
    }
    
    
    li:nth-child(4):hover~#start-home {
        left: 255px;
        width: 115px;
    
    }
    
    li:nth-child(5):hover~#start-home {
        left: 370px;
        width: 80px;
    
    }
    
    
    li:nth-child(6):hover~#start-home {
        left: 450px;
        width: 120px;
    
    }
    
    
    li:nth-child(7):hover~#start-home {
        left: 570px;
        width: 120px;
    
    
    }
    
    .logo {
            width: 60px;
            height: 15px;
            margin: 0px 10px;
    }
    .logo img{ 
            width: 100%;
    }
    
    .sign-in-btn {
        width: 85px;
        font-size: 10px;
        height: 35px;
    
    }
    .convert-show {
        line-height: 35px;
        font-size: 20px;
    }
}
@media screen and (max-width:767px)  {
      
      .col-3{
          width: calc(100%/12*5);
      }
      .col-8{
          width: calc(100%/12*11);
      }
      ul{
        height: 37px;
    }
      li:nth-child(1) {
        width: 55px;
    }
    
    li:nth-child(2) {
        width: 65px;
    }
    
    li:nth-child(3) {
        width: 105px;
    }
    
    li:nth-child(4) {
        width: 105px;
    }
    
    li:nth-child(5) {
        width: 70px;
    }
    
    li:nth-child(6) {
        width: 110px;
    }
    
    li:nth-child(7) {
        width: 110px;
    }
    
    .animation {
        width: 60px;
         line-height: 30px;
        height: 35px;
    }
    
    li:nth-child(1):hover~#start-home {
        left: 0px;
        width: 55px;
    }
    
    
    li:nth-child(2):hover~#start-home {
        left: 55px;
        width: 65px;
    }
    
    
    li:nth-child(3):hover~#start-home {
        left: 120px;
        width: 105px;
    }
    
    
    li:nth-child(4):hover~#start-home {
        left: 225px;
        width: 105px;
    
    }
    
    li:nth-child(5):hover~#start-home {
        left: 330px;
        width: 70px;
    
    }
    
    
    li:nth-child(6):hover~#start-home {
        left: 400px;
        width: 110px;
    
    }
    
    
    li:nth-child(7):hover~#start-home {
        left: 510px;
        width: 110px;
    
    
    }
    
    .logo {
            width: 50px;
            height: 13px;
            margin: 0px 10px;
    }
    .logo img{ 
            width: 100%;
    }
    
    .sign-in-btn {
        width:55px;
        font-size: 10px;
        height: 35px;
    
    }
    .convert-show {
        line-height: 35px;
        font-size: 25px;
        
    }
    
}
@media screen and (max-width: 640px){
.menu-list ,.sign-in{
    display: none;
}
.menu{
    justify-content: space-between;
}
.nav-menu-mobile{
    display:block;
}
.menu-icon{
    display: block;
    margin-right: 10px;
}
.containerClick {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: #979799;
    margin: 5px 5px;
    transition: 0.4s;
    position: relative;
    z-index: 5;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      margin-left: 15px;
  }
  .logo img{
      width: 100%;
      height: 25px;
  }
  .menu{
      height: 80px;
  }
  .row{
   flex-direction: column;
   justify-content:space-around;
   align-items: center;
  }
  .col-3 {
    width: calc(100%/12*9);
    height: 180px;
    margin: 50px 0px;
}
.col-3:nth-child(1){
    margin-top: 0px;
}


.col-8 {
    width: calc(100%/12*10);
    padding-left: 20px;
   
}
.menu-mobile{
    width: 50%;
    height: 740px;
    background-color: black;
    position: fixed;
    position:absolute;
    z-index: 4;
    top: 0px;
    right: 0;
    transform: rotateY(90deg);
}
.rotateY{
    transform: rotateY(0deg);
    transition: 0.2s all ease;
}

.little-menu ul{
    position: relative;
    top: 80px;
    flex-direction: column;
    display: block;
    z-index: 1;
}
.little-menu  li{
    text-align: left;
    margin-bottom: 20px;
}
.little-menu li:nth-child(1){
   border-top: 2px solid rgb(62, 165, 243);
   padding-top: 15px;
   width: 100%;
}
.little-menu ul li a{
   
   color: #979799;
   margin-left: 20px;
}
}
